<!DOCTYPE html>
%html{:xmlns=> "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    %link{'rel' => 'stylesheet', 'type' => 'text/css',  'href' => '/bootstrap.css'}
    %title PinoyRB
  %body
    .topbar
      .fill
        .container
          %h3
            %a{:href => "/"}="PinoyRB"
          %ul
            %li
              -if session_user
                %a{:href => "/sso/logout"} Sign out
              -else
                %a{:href => "/sso/login"} Log in
    .container{:style => "margin-top: 60px"}
      = yield
