%form{:action => '/sso/signup', :method => 'POST'}
  %fieldset
    %legend Sign up
    .clearfix
      %label{:for => 'email'}
        Email:
      .input
        %input{:type => 'text', :name => 'email', :class => 'xlarge'}
    .clearfix
      %label{:for => 'password'}
        Password:
      .input
        %input{:type => 'password', :name => 'password', :class => "xlarge"}
    .clearfix
      %label{:for => 'confirm_password'}
        Confirm password:
      .input
        %input{:type => 'password', :name => 'confirm_password', :class => "xlarge"}
    .clearfix
      %label{:for => 'first_name'}
        First name:
      .input
        %input{:type => 'text', :name => 'first_name', :class => 'xlarge'}
    .clearfix
      %label{:for => 'last_name'}
        Last name:
      .input
        %input{:type => 'text', :name => 'last_name', :class => 'xlarge'}
    .actions
      %button{:type => 'submit', :class => 'btn primary'}
        Sign up
      or
      %a{:href => '/sso/login', :class => 'btn'} Log in
